{% extends "base.html" %}

{% block content %}

<br><br><br><br>

<h1>Ana Renkler</h1>

<br>

<div class="card" style="width: 75rem; border-color: blue;">
  <div class="card-body">
    <h5 class="card-title" style="color: blue;">Mavi</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ana Renk</h6>
  <ol>
    <p class="card-text">Mavi rengi, genellikle sakinlik, dinginlik ve huzur ile özdeşleştirilir. Bununla birlikte, mavi aynı zamanda güvenilirlik, sadakat ve bilgeliği temsil eder. İş dünyasında, mavi sıklıkla profesyonellik, resmiyet ve güvenirlik ile bağdaştırılır. Bu nedenle birçok kurum, logosunda veya kurumsal renklerinde maviyi tercih eder.</p>
    <p class="card-text">Mavi, özellikle açık tonlarıyla, insan psikolojisi üzerinde sakinleştirici bir etkiye sahiptir. Stresli ve gergin zamanlarda mavi tonlarına maruz kalmak, insanın kendini daha rahat ve huzurlu hissetmesine yardımcı olabilir.</p>
    <p class="card-text">Bazı araştırmalar, mavi rengin, insanların dikkatini toplamalarına ve daha iyi odaklanmalarına yardımcı olabileceğini göstermektedir</p>
    <p class="card-text">Mavi, özellikle yatak odaları ve çalışma alanları için idealdir. Huzurlu atmosferiyle rahat bir uyku sağlarken, odaklanma ve konsantrasyonu artırarak çalışma verimliliğini de destekler.</p>
  </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: red">
  <div class="card-body">
    <h5 class="card-title" style="color: red">Kırmızı</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ana Renk</h6>
  <ol>
    <p class="card-text">Kırmızı rengin anlamı tutku, aşk, güç, enerji, sıcaklık, hareketlilik ve heyecandır. Kırmızı rengi, yüksek enerji seviyesi ile ilişkilendiririz ve birçok kültürde şans, mutluluk ve zenginlik ile ilişkilendirilir. Kırmızı renk, doğada da bol miktarda bulunur ve birçok canlıda görülür.</p>
    <p class="card-text">Kırmızı renk anlamı, tarih boyunca değişmemiş ve birçok kültürde benzer şekilde yorumlanmıştır. Kırmızı renk, antik Mısır'da kraliyet ve tanrıların rengi olarak kabul edilirdi. Çin kültüründe, kırmızı renk, şans, mutluluk ve zenginliğin sembolüdür. Hindistan'da, kırmızı renk, düğünlerde ve diğer kutlamalarda kullanılan geleneksel bir renktir ve aşkın sembolüdür.</p>
    <p class="card-text">Kırmızı renk genel olarak insanlar üzerinde uyarıcı ve dikkat çekici bir etkiye sahiptir. Bu sebepten, kırmızı renk özellikle uyarı işaretlerinde sıklıkla kullanılır. Trafik işaretlerinden tutun, internet sitesi tasarımlarına kadar pek çok alanda yasaklı ya da tehlikeli bir şeyi ifade ederken genellikle kırmızı renk kullanılır. Kırmızı rengin bu dikkat çekici özelliği, pazarlama alanında kullanılmasının da önünü açar. Reklamlarda, afişlerde, pazarlama görsellerinde ve benzeri pazarlama materyallerinde en çok kullanılan renklerden biri de kırmızı rengidir.</p>
  </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: yellow">
  <div class="card-body">
    <h5 class="card-title" style="color:yellow">Sarı</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ana Renk</h6>
  <ol>
    <p class="card-text">Sarı renk, doğada sıkça rastlanan ve göz alıcı bir renktir. Güneş, çiçekler, meyveler ve sonbahar yaprakları, sarının doğal dünyadaki çeşitli temsilleridir. Ancak sarı rengin anlamı, kültürel ve bireysel bağlamda farklılık gösterebilir. Psikoloji, sanat ve tasarım alanında sarı renk özel bir yer tutar ve bireyler üzerinde farklı etkiler yaratabilir.</p>
    <p class="card-text">Sarı renk sıklıkla enerji ve neşe ile ilişkilendirilir. Aydınlık ve canlı tonları, bireylerin enerji seviyelerini yükseltmeye yardımcı olabilir. Ayrıca sarı, sıcaklık ve aydınlanma hissi uyandıran bir renktir, bu nedenle insanlar üzerinde pozitif bir etki yaratabilir.</p>
    <p class="card-text">Sarı, aynı zamanda optimizm ve umut rengi olarak da kabul edilir. Daha parlak ve mutlu bir geleceği temsil eder ve bireylerde olumlu düşünceler uyandırabilir.</p>
    <p class="card-text">Her ne kadar sarı renk pozitif duygularla ilişkilendirilse de, aşırıya kaçıldığında stres ve rahatsızlık hissine neden olabilir. Ayrıca sarı, kıskançlık ve ihanet gibi olumsuz duyguları da simgeler.</p>
  </ol>
  </div>
</div>

<br>

{% endblock %}