{% extends "base.html" %}

{% block content %}

<br><br><br><br>

<h1>Ara Renkler</h1>

<br>

<div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <h5 class="card-title" style="color: green;">Yeşil</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ara Renk</h6>
    <ol>
      <p class="card-text">Yeşil, doğanın rengi olarak bilinir ve bolluk, ferahlık ve yeniden doğuşu simgeler. Ayrıca, huzur, dinginlik ve rahatlama ile de ilişkilendirilir. Psikolojik açıdan yeşil renk, insan üzerinde dengeleyici ve yenileyici bir etki yaratır.</p>
      <p class="card-text">Yeşil renk, doğal bir denge ve huzur hissi uyandırır. İnsan psikolojisi üzerinde rahatlatıcı bir etkiye sahiptir ve stresi azaltmaya yardımcı olabilir.</p>
      <p class="card-text">Yeşil, doğanın ve yeniden doğuşun rengidir. Yepyeni başlangıçları ve tazelik hissini simgeler.</p>
      <p class="card-text">Yeşil, verimliliği ve büyümeyi temsil eder. İnsanların odaklanmasını ve dikkatini artırmalarına yardımcı olarak, daha verimli olmalarını sağlar</p>
    </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: purple;">
    <div class="card-body">
      <h5 class="card-title" style="color: purple;">Mor</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ara Renk</h6>
    <ol>
      <p class="card-text"> Mor, geleneksel olarak lüks ve zenginlikle ilişkilendirilir. Bu nedenle, mor renk, pahalı ürünlerin ve markaların logosunda ve ambalajında sıkça tercih edilir.</p>
      <p class="card-text">Mor, gizem, mistisizm ve spiritüalizmle ilişkilendirilir. Bu renk, mistik deneyimleri, içsel düşünceyi ve ruhsal farkındalığı sembolize edebilir.</p>
      <p class="card-text"> Mor, liderlik özellikleri ve yetenekleri temsil edebilir. Bu nedenle, mor, liderlerin veya karar vericilerin gücünü yansıtmak için kullanılabilir.</p>
      <p class="card-text">Mor, zıt duygusal uçlar arasında bir denge sağlayabilir. Bu renk, sakinleştirici ve dengeleyici bir etki yaratabilir, bu da insanları duygusal olarak dengelemeye yardımcı olabilir.</p>
    </ol>  
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: orange;">
    <div class="card-body">
      <h5 class="card-title" style="color: orange;">Turuncu</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ara Renk</h6>
    <ol>
      <p class="card-text">Turuncu rengi psikoloji biliminde canlılığı, heyecanı ve umudu temsil eder. Kararlılık, azim ve iyimserlik, turuncu rengiyle özdeşleşmiş olan kişilerin ortak özellikleri arasında yer alır.</p>
      <p class="card-text">Turuncu, yaşanan tüm olumsuzluklara rağmen asla yılgınlığa kapılmamanın ve hedefleri gerçekleştirmek için aynı kararlılık ile mücadele etmenin sembolüdür. Bu renk aynı zamanda cesaret anlamına gelir.</p>
      <p class="card-text">Turuncu renginin, iştah açıcı ve enerji verici bir etkisi vardır. Bu nedenle, restoranlar ve yiyecek ile ilgili diğer işletmelerde sıklıkla kullanılır.</p>
      <p class="card-text">Turuncu, aynı zamanda iyimserliği ve umudu simgeler. Bireylere daha açık fikirli ve olumlu düşünme kapasitesi katabilir</p>
    </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: pink;">
    <div class="card-body">
      <h5 class="card-title" style="color: pink;">Pembe</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ara Renk</h6>
    <ol>
      <p class="card-text">Pembe renk, sıklıkla kadınsılık, romantizm ve masumiyet ile ilişkilendirilir. Ancak pembe, sadece bu kavramlarla sınırlı değildir. Pembenin psikolojik etkileri, tonuna ve kullanıldığı bağlama göre değişiklik gösterebilir.</p>
      <p class="card-text">Pembe, özellikle pastel tonlarıyla, sakinleştirici bir etkiye sahiptir. Bu nedenle bazı cezaevleri ve akıl hastanelerinde huzursuzluk yaratmamak adına pembe tonları kullanılır.</p>
      <p class="card-text">Canlı ve parlak pembe tonları, enerji ve coşku verici etkiye sahiptir. Bu nedenle spor giyimde veya enerji vermek istenen alanlarda bu tonlar tercih edilebilir.</p>
      <p class="card-text">Pembe, özellikle yatak odaları ve çocuk odaları için uygun bir renktir. Huzurlu ve sakin bir atmosfer yaratırken, aynı zamanda odaya sıcaklık katar.</p>
    </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <h5 class="card-title" style="color: turquoise;">Turkuaz</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ara Renk</h6>
    <p class="card-text">Turkuaz, mavi ile yeşilin birleşiminden oluşan, denizin derinliklerini ve tropik suları anımsatan bir renktir. Hem doğal bir sakinlik duygusu hem de canlandırıcı bir enerjiye sahip olan turkuazın anlamı ve psikolojik etkileri oldukça zengindir.</p>
    <p class="card-text">Turkuaz, mavi ve yeşilin özelliklerini birleştirerek denge ve uyumu temsil eder. Bu, hem doğal bir huzur ve sakinlik duygusu, hem de canlanma ve yeniden enerji bulma anlamına gelir.</p>
    <p class="card-text">Turkuaz, özgün düşünceleri ve yaratıcı enerjiyi teşvik eder.Turkuaz, özgün düşünceleri ve yaratıcı enerjiyi teşvik eder.Turkuaz, duygusal dengesizlikleri dengelemeye yardımcı olabilir</p>
    <p class="card-text">Turkuaz, özellikle banyo, yatak odası veya çalışma alanları için uygundur. Sakin atmosferiyle rahat bir uyku veya çalışma ortamı sağlarken, yaratıcılığı teşvik eden tonlarıyla da daha üretken olmanıza yardımcı olabilir.</p>
  </div>
</div>

<br>
  

{% endblock %}