{% extends "base.html" %}

{% block content %}

<br><br><br><br>

<h1>Özel Renkler</h1>

<br>

<div class="card" style="width: 75rem;">
    <div class="card-body">
      <h5 class="card-title">Beyaz</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Özel Renk</h6>
    <ol>
      <p class="card-text">Beyaz renk, doğada ve insan yapımı nesnelerde sıkça karşımıza çıkan, saf ve temiz bir enerjiye sahip olan bir renktir. Tarihsel ve kültürel bağlamlarda birçok anlam taşıyan beyaz, psikolojik olarak da insanlar üzerinde belirgin etkilere sahiptir.</p>
      <p class="card-text">Beyaz, genellikle saflık, masumiyet, berraklık ve başlangıçla ilişkilendirilir.Düğünlerde beyaz gelinlikler, yeni doğmuş bebekler için beyaz giysiler; masumiyetin, saflığın ve yeni bir başlangıcın bir sembolü olarak kabul edilir</p>
      <p class="card-text">Beyaz bayrak, evrensel bir barış ve teslimiyet sembolüdür.Beyaz, berrak bir zihni ve boş bir sayfayı temsil eder.</p>
      <p class="card-text">Beyaz, bir alanda daha geniş ve açık bir his yaratır. Özellikle küçük mekanlarda beyaz renk kullanımı, mekanın daha büyük ve geniş görünmesine yardımcı olur.</p>
    </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem;">
    <div class="card-body">
      <h5 class="card-title">Siyah</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Özel Renk</h6>
    <ol>
      <p class="card-text">Siyah, renk paletinde ayrı bir yere sahip olan ve birçok kültürde derin anlamlar taşıyan bir renktir. Hem modada hem de sanatta sıkça tercih edilen siyah, duyguları ve psikolojik durumları büyük ölçüde etkileyebilir</p>
      <p class="card-text">Siyah genellikle güç, otorite, ölüm, zarafet ve gizemle ilişkilendirilir. Bazı kültürlerde yas ve üzüntüyü simgelerken, bazılarında asaleti ve prestiji temsil eder.</p>
      <p class="card-text">Siyah sıklıkla otoriteyi ve resmiyeti temsil eder. İş dünyasında siyah takım elbiseler ve kıyafetler, profesyonellik ve ciddiyetin bir göstergesi olarak kabul edilir.</p>
      <p class="card-text">Birçok kültürde siyah, ölümü ve yası simgeler. Bu, cenaze törenlerinde siyah giysilerin tercih edilmesinin ana nedenlerinden biridir.Moda dünyasında siyah, zarafetin ve sofistikenin rengidir. "Küçük siyah elbise" kavramı bu anlamda ikonikleşmiştir.</p>
    </ol>
    </div>
  </div>

<br>  

{% endblock %}